$primary-text-color: #212121;
$title-text-color: #ffffff;
$accent-color: #2196F3;
$primary-black-color: #000000;
$pimary-gray-color: #2F303A;
$primary-background-color: #F5F4FA;
$primary-eee-color: #EEEEEE;
$primary-seventy-color: #757575;
$primary-hr-color: #ECECEC;
$primary-icon-color: #AFB1B8;
$primary-footer-color: rgba(255, 255, 255, 0.1);
$primary-modal-color: rgba(0, 0, 0, 0.2);
$primary-close-color: rgba(0, 0, 0, 0.1);
$primary-three-color: rgba(47, 48, 58, 0.8);
$primary-bordermod-color: rgba(33, 33, 33, 0.2);
$primary-subscribe-color: rgba(255, 255, 255, 0.3);
$primary-subshadow-color: rgba(0, 0, 0, 0.15);